[Desktop Entry]
Name=Star Labs Systems - Join the Fight

X-KDE-PluginInfo-Name=Star Labs Systems - Join the Fight
X-KDE-PluginInfo-Author=TheLegend
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
