[Desktop Entry]
Name=Star Labs Systems - Be Free

X-KDE-PluginInfo-Name=Star Labs Systems - Be Free
X-KDE-PluginInfo-Author=TheLegend
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
