[Desktop Entry]
Name=Star Labs Systems - Water

X-KDE-PluginInfo-Name=Star Labs Systems - Water
X-KDE-PluginInfo-Author=NicholeRose
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
