Source: starlabs-backgrounds
Section: admin
Priority: optional
Maintainer: Sean Rhodes <sean@starlabs.systems>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.1

Package: starlabs-backgrounds
Architecture: all
Description: Desktop backgrounds from Star Labs
