[Desktop Entry]
Name=Star Labs Systems - Prism

X-KDE-PluginInfo-Name=Star Labs Systems - Prism
X-KDE-PluginInfo-Author=StarLabs
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
